<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sy.watersupplysystem.mapper.WorkerMapper">
    <resultMap id="WorkerResultMap" type="com.sy.watersupplysystem.entities.Worker">
        <id column="wid" jdbcType="INTEGER" property="wid"/>
        <result column="worker_name" jdbcType="VARCHAR" property="workerName"/>
        <result column="worker_salary" jdbcType="VARCHAR" property="workerSalary"/>
        <result column="worker_ticheng" jdbcType="VARCHAR" property="workerTicheng"/>
        <result column="worker_image" jdbcType="VARCHAR" property="workerImage"/>
    </resultMap>

    <select id="getWorkerList" parameterType="PageVo" resultMap="WorkerResultMap">
        select wid,worker_name,worker_salary,worker_ticheng,worker_image
        from tb_worker
        limit #{startIndex},#{pageSize}
    </select>

    <insert id="addWorker" parameterType="Worker" >
        insert into tb_worker
        (worker_name,worker_salary,worker_ticheng,worker_image)
        values
        (#{workerName},#{workerSalary},#{workerTicheng},#{workerImage})
    </insert>
    <select id="getWorkerById" parameterType="int" resultMap="WorkerResultMap">
        select wid,worker_name,worker_salary,worker_ticheng,worker_image
        from tb_worker
        where wid = #{wid}
    </select>
    <update id="updateWorker" parameterType="Worker" >
        update tb_worker
        set worker_name = #{workerName},
            worker_salary = #{workerSalary},
            worker_ticheng = #{workerTicheng},
            worker_image = #{workerImage}
        where wid = #{wid}
    </update>

    <delete id="delWorker" parameterType="int" >
        delete from tb_worker
        where wid = #{wid}
    </delete>
    <update id="updateWorkerSalary">
        update tb_worker
        set worker_salary = #{workerSalary}
        where wid = #{wid}
    </update>

    <select id="getWorkerTotal" resultType="int">
        select count(*) as total from tb_worker
    </select>

    <select id="notSendWorker" resultMap="WorkerResultMap">
        SELECT
            wid,worker_name,worker_salary,worker_ticheng,worker_image
        FROM
            tb_worker AS w
                LEFT JOIN
            (
                SELECT
                    worker_id
                FROM
                    tb_history
            ) AS h
            ON
                h.worker_id = w.wid
        WHERE
            h.worker_id IS NULL
    </select>
    <select id="notSendWorkerTotal" resultType="int">
        SELECT
           count(*) as total
        FROM
            tb_worker AS w
                LEFT JOIN
            (
                SELECT
                    worker_id
                FROM
                    tb_history
            ) AS h
            ON
                h.worker_id = w.wid
        WHERE
            h.worker_id IS NULL
    </select>

    <select id="getWorkers" resultMap="WorkerResultMap">
        select wid,worker_name
        from tb_worker
    </select>
</mapper>