<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>校园送水后台管理系统</title>

<!--Bootstrap固定框架-->
<link rel='stylesheet' th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.css}">
<link rel='stylesheet' th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap-theme.css}">
<!--图标库-->
<link rel='stylesheet' th:href="@{/css/material-design-iconic-font.min.css}">
<!--核心样式-->
<link rel="stylesheet" th:href="@{/css/style.css}">
<script th:src="@{/webjars/jquery/3.3.1/jquery.js}"></script>
</head>
<script>

  $().ready(function () {
    getCustomerList();




  });





  /**
   * 获取客户列表
   */
  function getCustomerList() {
    $.ajax({
      url : "getCustomerList",
      type : "get",
      dataType : "json",
      success : function (resp) {
          if(resp.code === 200){
            $("#custTable").empty();
            $("#custTable").append(
                    "<tr>\n" +
                    "<td>客户编号</td>\n" +
                    "<td>客户名称</td>\n" +
                    "<td>客户地址</td>\n" +
                    "<td>联系方式</td>\n" +
                    "<td>水票数量</td>\n" +
                    "<td>操作</td>\n" +
                    "</tr>\n"
            );

            $.each(resp.resultData,function (i,cust){

              $("#custTable").append("<tr>\n" +
                      "<td>"+cust.cid+"</td>\n" +
                      "<td>"+cust.custName+"</td>\n" +
                      "<td>"+cust.custAddress+"</td>\n" +
                      "<td>"+cust.custMobile+"</td>\n" +
                      "<td>"+cust.custTicket+"</td>\n" +
                      "<td>\n" +
                      "<button class='btn btn-default' onclick='goUpdate("+cust.cid+")'>修改</button>\n" +
                      "<button class='btn btn-danger' onclick='delBtn("+cust.cid+")'>删除</button>\n" +
                      "</td>\n" +
                      "</tr>");
            })
          }else {
            alert("客户为空！")
          }
      }
    })
  }


  /**
   * 跳转到添加页面
   */
  function goAdd() {
    window.location = "goAdd";
  }

</script>
<body>

<div id="viewport">

  <!-- Sidebar -->
  <div id="sidebar">
    <div id="side" th:include="com/side :: side"></div>
  </div>
  
  <!-- Content -->
  <div id="content">
    <div id="head" th:include="com/head :: head"></div>

    <div class="container-fluid">
      <div class="container-fluid">
        <div class="row">

          <div class="col-md-12">

            <div class="col-md-9" style="padding: 0">
              <button  class="btn btn-primary" onclick="goAdd()">添加客户</button>
            </div>

            <div class="col-md-3 inline">
              <form class="form-inline">
                <div class="form-group">
                  <input type="text" disabled="" class="form-control" id="name" name="name" placeholder="请输入"/>
                </div>
                <button type="button" id="serchBtn" class="btn btn-default">搜索</button>
              </form>
            </div>




            <table class="table table-hover table-striped" >
              <tbody id="custTable">

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

</body>
</html>