<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>校园送水后台管理系统</title>

<!--Bootstrap固定框架-->
<link rel='stylesheet' th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.css}">
<link rel='stylesheet' th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap-theme.css}">
<!--图标库-->
<link rel='stylesheet' th:href='@{/css/material-design-iconic-font.min.css}'>
<!--核心样式-->
<link rel="stylesheet" th:href="@{/css/style.css}">
<script th:src="@{/webjars/jquery/3.3.1/jquery.js}"></script>
</head>
<script>



</script>
<body>

<div id="viewport">

  <!-- Sidebar -->
  <div id="sidebar">
    <header>
      <a href="#">校园送水系统</a>
    </header>
    <ul class="nav">
      <li>
          <a href="/customer/goCustomerMenu">
          <i class="zmdi zmdi-view-dashboard" ></i> 客户管理
        </a>
      </li>
      <li>
        <a>
          <i class="zmdi zmdi-link"></i> 员工管理
        </a>
      </li>
      <li>
        <a>
          <i class="zmdi zmdi-widgets"></i> 送水历史管理
        </a>

    </ul>
  </div>
  
  <!-- Content -->
  <div id="content">
    <nav class="navbar navbar-default">
      <div class="container-fluid" >
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="#"><i class="zmdi zmdi-notifications text-danger"></i>
            </a>
          </li>
          <li><a href="#">测试用户123</a></li>
        </ul>
      </div>
    </nav>
    <div class="container-fluid">
      <div class="container-fluid">
        <div class="row">

          <div class="col-md-12">
            <div class="col-md-8 inline">
              <form class="form-inline">
              </form>
            </div>
            <table class="table table-hover table-striped" >
              <tbody id="custTable">
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

</body>
</html>