<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>校园送水后台管理系统</title>

<!--Bootstrap固定框架-->
<link rel='stylesheet' th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.css}">
<link rel='stylesheet' th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap-theme.css}">
<!--图标库-->
<link rel='stylesheet' th:href='@{/css/material-design-iconic-font.min.css}'>
<!--核心样式-->
<link rel="stylesheet" th:href="@{/css/style.css}">
<script th:src="@{/webjars/jquery/3.3.1/jquery.js}"></script>
</head>
<script>



</script>
<body>

<div id="viewport">

  <!-- Sidebar -->
  <div id="sidebar">
   <div id="side" th:include="com/side :: side"></div>
  </div>


  <!-- Content -->
  <div id="content">

    <div id="head" th:include="com/head :: head"></div>




    <div class="container-fluid">
      <div class="container-fluid">
        <div class="row">

          <div class="col-md-12">
            <div class="col-md-8 inline">
              <form class="form-inline">
              </form>
            </div>
            <table class="table table-hover table-striped" >
              <tbody id="custTable">
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

</body>
</html>