<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>学生后台管理系统</title>

<!--Bootstrap固定框架-->
<link rel='stylesheet' th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.css}">
<link rel='stylesheet' th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap-theme.css}">
<!--图标库-->
<link rel='stylesheet' th:href='@{/css/material-design-iconic-font.min.css}'>
<!--核心样式-->
<link rel="stylesheet" th:href="@{/css/style.css}">
<script th:src="@{/webjars/jquery/3.3.1/jquery.js}"></script>
</head>
<script th:inline="javascript">

  function saveHistory(currentPage) {
    $.ajax({
      url: "/history/updateHistory",
      type: "post",
      data: {
        "hid" : $("#hid").val(),
        "workerId" : $("#wid").val(),
        "custId" : $("#cid").val(),
        "sendWaterTime" : $("#sendWaterTime").val(),
        "sendWaterCount" : $("#sendWaterCount").val()
      },
      dataType: "json",
      success: function (resp) {
        if (resp.code === 200) {
          alert("修改成功！");
          window.location = "goHistoryList?currentPage"+currentPage;
        } else {
          alert("修改失败");
        }
      }
    })

  }
  function goBack() {
    window.history.back();
  }
</script>
<body>

<div id="viewport">

  <!-- Sidebar -->
  <div id="sidebar">
    <div id="side" th:include="com/side :: side"></div>
  </div>
  
  <!-- Content -->
  <div id="content">
    <div id="head" th:include="com/head :: head"></div>



    <div class="container-fluid">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <table class="table table-hover table-striped" >
              <tbody id="stuTable">
              </tbody>
            </table>
            <form class="form-horizontal" id="workerInfo" enctype="multipart/form-data">
              <div class="form-group">
                <input type="hidden" id="hid" th:value="${history.getHid()}">
                <div class="col-sm-1" >
                  员工名称:
                </div>
                <div class="col-sm-3">
                  <select id="wid" name="wid" class="form-control" >
                    <option value=""></option>
                    <option th:each="w : ${worker}" th:value="${w.getWid()}" th:text="${w.getWorkerName()}"
                    th:selected="${w.getWid()} == ${history.getWorkerId()}"
                    ></option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-1">
                  送水时间:
                </div>
                <div class="col-sm-3">
                  <input type="date" class="form-control" th:value="${history.getSendWaterTime()}" name="sendWaterTime" id="sendWaterTime" />
                </div>
              </div>
              <div class="form-group">
                <div class ="col-md-1">
                  客户姓名:
                </div>
                <div class="col-sm-3">
                  <select id="cid" name="cid" class="form-control">
                    <option value=""></option>
                    <option th:each="c : ${customer}" th:value="${c.getCid()}" th:text="${c.getCustName()}"
                            th:selected="${c.getCid()} == ${history.getCustId()}"
                    ></option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <div class ="col-md-1">
                  送水数量:
                </div>
                <div class="col-sm-3">
                  <input type="text" class="form-control" th:value="${history.getSendWaterCount()}" name="sendWaterCount" id="sendWaterCount"/>
                </div>
              </div>
              <div class="form-group">
              <div class ="col-md-1">
                <input type="button" class="btn btn-primary form-control"  th:onclick="'javascript:saveHistory('+${currentPage}+')'" value="提交"/>
              </div>
              <div class ="col-md-1">
                <input type="button" class="btn btn-default form-control"  onclick="goBack()" value="返回" />
              </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

</body>
</html>