<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>

<body>
<div th:fragment="head">
    <nav class="navbar navbar-default">
        <div class="container-fluid" >
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" id="accountMenu" class="dropdown-toggle" data-toggle="dropdown" >
                        <span class="glyphicon glyphicon-user"></span>
                        <span th:text="${session.account.getUserName()}"></span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">个人中心</a></li>
                        <li class="divider"></li>
                        <li><a href="/exit">退出系统</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</div>
</body>

</html>