<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--Bootstrap固定框架-->
    <link rel='stylesheet' th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.css}">
    <link rel='stylesheet' th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap-theme.css}">
    <!--图标库-->
    <link rel='stylesheet' th:href='@{/css/material-design-iconic-font.min.css}'>
    <!--核心样式-->
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <footer th:fragment="side">
        <div id="viewport">
            <!-- Sidebar -->
            <div id="sidebar">
                <header>
                    <a href="#">校园送水系统</a>
                </header>
                <ul class="nav">
                    <li>
                        <a href="/customer/goCustomerList?currentPage=1">
                            <i class="zmdi zmdi-view-dashboard" ></i> 客户管理
                        </a>
                    </li>
                    <li>
                        <a href="/worker/goWorkerList?currentPage=1">
                            <i class="glyphicon glyphicon-wrench"></i> 员工管理
                        </a>
                    </li>
                    <li>
                        <a href="/history/goHistoryList?currentPage=1">
                            <i class="glyphicon glyphicon-time"></i> 送水历史管理
                        </a>
                    </li>
                    <li>
                        <a href="/worker/goWorkerSalary">
                            <i class="glyphicon glyphicon-usd"></i> 计算员工工资
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
</head>

</html>