<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>校园送水后台管理系统</title>

<!--Bootstrap固定框架-->
<link rel='stylesheet' th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.css}">
<link rel='stylesheet' th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap-theme.css}">
<!--图标库-->
<link rel='stylesheet' th:href="@{/css/material-design-iconic-font.min.css}">
<!--核心样式-->
<link rel="stylesheet" th:href="@{/css/style.css}">
<script th:src="@{/webjars/jquery/3.3.1/jquery.js}"></script>
</head>
<script>

  $().ready(function () {
    getWorkerList();
  });





  /**
   * 获取员工列表
   */
  function getWorkerList() {
    $.ajax({
      url : "getWorkerList",
      type : "get",
      dataType : "json",
      success : function (resp) {
          if(resp.code === 200){
            $("#workerTable").empty();
            $("#workerTable").append(
                    "<tr>\n" +
                    "<td>员工编号</td>\n" +
                    "<td>员工名称</td>\n" +
                    "<td>员工工资</td>\n" +
                    "<td>员工提成</td>\n" +
                    "<td>员工图片</td>\n" +
                    "<td>操作</td>\n" +
                    "</tr>\n"
            );

            $.each(resp.resultData,function (i,worker){

              $("#workerTable").append("<tr>\n" +
                      "<td>"+worker.wid+"</td>\n" +
                      "<td>"+worker.workerName+"</td>\n" +
                      "<td>"+worker.workerSalary+"</td>\n" +
                      "<td>"+worker.workerTicheng+"</td>\n" +
                      "<td>"+worker.workerimage+"</td>\n" +
                      "<td>\n" +
                      "<button class='btn btn-default' onclick='goUpdate("+worker.wid+")'>修改</button>\n" +
                      "<button class='btn btn-danger' onclick='delBtn("+worker.wid+")'>删除</button>\n" +
                      "</td>\n" +
                      "</tr>");
            })
          }else {
            alert("客户为空！")
          }
      }
    })
  }


</script>
<body>

<div id="viewport">

  <!-- Sidebar -->
  <div id="sidebar">
    <div id="side" th:include="com/side :: side"></div>

  </div>
  
  <!-- Content -->
  <div id="content">
    <div id="head" th:include="com/head :: head"></div>



    <div class="container-fluid">
      <div class="container-fluid">
        <div class="row">

          <div class="col-md-12">

            <div class="col-md-4">
              <button  class="btn btn-primary" onclick="goAdd()">添加客户</button>
            </div>

            <div class="col-md-8 inline">


              <form class="form-inline">
                <div class="form-group">
                  <input type="text" disabled="" class="form-control" id="name" name="name" placeholder="请输入"/>
                </div>
                <button type="button" id="serchBtn" class="btn btn-default">搜索</button>
              </form>
            </div>




            <table class="table table-hover table-striped" >
              <tbody id="workerTable">

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

</body>
</html>